# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

*.pdf

data_prep/soil_variograms/Bekkevoort_field_experiment_BEL/variogram_saturated_conductivity.png

data_prep/soil_variograms/Bekkevoort_field_experiment_BEL/variogram_saturated_conductivity_layer_1.png

data_prep/soil_variograms/Bekkevoort_field_experiment_BEL/variogram_saturated_conductivity_layer_2.png

data_prep/soil_variograms/Bekkevoort_field_experiment_BEL/variogram_saturated_conductivity_layer_3.png

data_prep/soil_variograms/Calingri_farm_site_AUS/variogram_saturated_conductivity.png

data_prep/soil_variograms/Campinas_Experimental_Center_BRZ/variogram_saturated_conductivity.png

data_prep/soil_variograms/Instituto_Agronomico_Campinas_BRA/variogram_saturated_conductivity.png

data_prep/soil_variograms/Instituto_Agronomico_Campinas_BRA/variogram_saturated_conductivity_layer_1.png

data_prep/soil_variograms/Instituto_Agronomico_Campinas_BRA/variogram_saturated_conductivity_layer_2.png

*.jpg

data_prep/soil_variograms/Karrendorfer_Wiesen_GER/variogram_saturated_conductivity.png

data_prep/soil_variograms/Ondokuz_Mayis_University_TUR/variogram_saturated_conductivity.png

data_raw/aquifer_measurements/North_Bay_landfill_site_CAN/NBL1.DAT

data_raw/aquifer_measurements/North_Bay_landfill_site_CAN/NBL1.txt

data_raw/aquifer_measurements/North_Bay_landfill_site_CAN/NBL2.DAT

*.DAT

*.zip

*.xlsx

data_raw/aquifer_measurements/Ticino_valley_ITA/Facies_code_conductivity.txt

data_raw/aquifer_measurements/Yongxin_coal_mine_CHI/K_values_template.csv

*.rar

data_prep/aquifer_variograms/K_values_template.csv

*.pptx

*.doc

data_raw/aquifer_measurements/Borden_aquifer_CAN/Xsecaa.txt

data_raw/aquifer_measurements/Borden_aquifer_CAN/clean_up.py

data_raw/aquifer_measurements/Borden_aquifer_CAN/Xsecbb.txt

*.xls

data_raw/aquifer_measurements/DLM_surface_mine_site_US/well_pos.csv

data_raw/aquifer_measurements/Ferrara_site_ITA/well_map.csv

data_raw/aquifer_measurements/Galiano_Island_CAN/map_wells.csv

data_raw/aquifer_measurements/HaShfela_sub-basin_ISR/Adderet_well.csv

data_raw/aquifer_measurements/HaShfela_sub-basin_ISR/clean_up.py

data_raw/aquifer_measurements/HaShfela_sub-basin_ISR/Nahal_Guvrin_New_well.csv

data_raw/aquifer_measurements/Holtum_stream_catchment_DEN/wells_map.csv

data_raw/aquifer_measurements/Horkheimer_island_GER/map_wells.csv

data_raw/aquifer_measurements/Libertador_General_Bernardos_O_Higgins_region_CIL/wells_Chile6thRegion_forvariogram.csv

data_raw/aquifer_measurements/North_Bay_landfill_site_CAN/clean_up.py

data_raw/aquifer_measurements/North_Bay_landfill_site_CAN/NBL2.txt

data_raw/aquifer_measurements/Pennsylvanian_bedrock_aquifers_US/clean_up.py

data_raw/aquifer_measurements/Pennsylvanian_bedrock_aquifers_US/RockeyeWellLocations.txt

data_raw/aquifer_measurements/Pennsylvanian_bedrock_aquifers_US/well_locations.csv

data_raw/aquifer_measurements/Rhurtal_aquifer_GER/map_wells.csv

data_raw/aquifer_measurements/Skjern_river_catchment_DEN/wells_map.csv

data_raw/aquifer_measurements/Ticino_valley_ITA/clean_up.py

data_raw/aquifer_measurements/Yongxin_coal_mine_CHI/wells_map.csv

src/empirical_soil_variogram_analysis.py

src/empirical_variogram_analysis.py
